BOT_API_TOKEN=your_bot_api_token_here
BOT_TEST_API_KEY=your_bot_test_api_key_here
JWT_SECRET_KEY=your_jwt_secret_key_here
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_SPCD=your_spotify_spcd_here